<!DOCTYPE html>
<html>
    <head>
        <title>博客</title>
        <link type="text/css" rel="stylesheet" href="css/blogs.css"/>
    </head>
    <body>
        <header>
            <img src="images/schoolBadge.png"/>
            <p>写博客</p>
            <form><button type="submit" id="submit">发布</button></form>
        </header>
        <form>
            <div class="formItem"><input type="text" placeholder="请输入标题（不能为空）" id="title"></div>
            <div id="editItem">
                <div id="bold" class="editButton">B</div>
                <div id="italic" class="editButton">I</div>
            </div>

            <div class="formItem"><textarea placeholder="请输入正文（不能为空）"rows="10"id="content"wrap="hard"></textarea></div>
            <button id="completeEdit" style="display:none"><a href="/blogs">完成编辑</a></a></button>
        </form>
        <div id="blogsFromServer" style="display:none"><%- blogs %></div>
        <div>
            <ul id="blogsList"></ul>
            <ul id="pagesList"></ul>
        </div>
        <div><a href="/" class="button">返回首页</a></div>
        <div id="footer">
            <p>1902 - 2018 ©NWU<span style="float: right;">QQ:1480712353</span></p>
        </div>
    </body>
    <script type="text/javascript" src="js/blogs.js"></script>
</html>
