<!DOCTYPE html>
<html>
    <head>
        <title>下载上传</title>
        <link type="text/css" rel="stylesheet" href="css/download.css"/>
    </head>
    <body>
        <div id="header">
            <h3>文件列表</h3>
            <div id="times">可下载次数：<span id="downloadTimesFromServer"><%- downloadTimes %></span></div>
        </div>
        <div id="filesFromServer" style="display:none"><%- files %></div>
        <ul id="oneList"><li>大一上<span>下载次数</span><span>提供者</span></li></ul>
        <ul id="twoList"><li>大一下</li></ul>
        <ul id="threeList"><li>大二上</li></ul>
        <ul id="fourList"><li>大二下</li></ul>
        <ul id="fiveList"><li>大三上</li></ul>
        <ul id="sixList"><li>大三下</li></ul>
        <ul id="sevenList"><li>大四上</li></ul>
        <ul id="eightList"><li>大四下</li></ul>
        <ul id="otherList"><li>其他</li></ul>
        <div><a class="button" href="/">返回首页</a></div>

        <h4>上传中心</h4>
        <div  class="warn">
            <h5>注意事项</h5>
            <p>1.如果要上传文件最好一系列（整一个学期）一起上传并按<i> 科目全名+年份+资料内容 </i>格式命名；</p>
            <p>2.上传一个文件增加5次下载次数；</p>
            <p>3.上传前请核对文件是否与专业以及年级吻合，并且等待其上传完毕；</p>
            <p>4.请不要上传有关政治以及色情的资料。资料仅用于学习。</p>
        </div>
        <form method="post" enctype="multipart/form-data" action="/api/upload" id="uploadForm">
            <span>文件</span>
            <input type="file" name="myfile">
            <span>专业</span>
            <select name="major">
                <option value="cs">计算机科学与技术</option>
            </select>
            <span>年级</span>
            <select name="fileBelong" id="grade">
                <option value="one">大一上</option>
                <option value="two">大一下</option>
                <option value="three">大二上</option>
                <option value="four">大二下</option>
                <option value="five">大三上</option>
                <option value="six">大三下</option>
                <option value="seven">大四上</option>
                <option value="eight">大四下</option>
                <option value="other">其他</option>
            </select>
            <input type="button" id="submitButton" value="上传">
        </form>
        <div id="footer">
            <p>1902 - 2018 ©NWU<span style="float: right;">QQ:1480712353</span></p>
        </div>
    </body>
    <script type="text/javascript" src="js/download.js"></script>
</html>