<!DOCTYPE html>
<html>
    <head>
        <title>登录</title>
        <link type="text/css" rel="stylesheet" href="css/login.css"/>
    </head>
    <body>
        <form action="/login" method="POST">
            <fieldset>
                <div id="signupSuccess"></div>
                <legend>登录</legend>
                <p>
                    <label class="name">账号</label>
                    <input id="account" name="account" type="text" class="text" value="<%- signupAccount %>">
                </p>
                <p>
                    <label class="name">密码</label>
                    <input name="password" type="password" class="text">
                </p>
                <p class="input">
                    <input id="t1" type="text" class="text" placeholder="验证码" onblur="but()" style="width:35%;margin-left: 0;" />
                    <span id="discode"></span>
                    <input type="button" value="换一换" class="c" style="height:25px;background-color: blue;color: #fff;border-radius: 5px;"onClick="createCode()">
                </p>
                <button>登录</button>
                <a class='button'href="/">返回首页</a>
            </fieldset>
        </form>
    </body>
    <script type="text/javascript" src="js/login.js"></script>
</html>