div#download img{
  width: 30px;
  height: 30px;
  float: left;
  margin: -5px 0px 0px 65px;
}
div#download div#header {
  width: 50%;
  margin: 10px auto;
}
div#download div#header div#times {       
  margin-left: 80%;
}
div#download ul {
  width: 50%;
  margin: 10px auto;
  padding: 0;
}
div#download ul li{
  list-style-type: none;
  padding: 5px 0;
}
div#download ul li a {
  color: #000;
  padding-left: 20px;
}
div#download ul li span {
  float: right;
  margin-right: 20px;
}
div#download ul li span.provider {
  margin-right: 80px;
}
div#download ul li:nth-child(odd) {
  background-color: #e2eefc;
}
div#download ul li:first-child{
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background-color: #02679b;
}
div#download ul::after{
  display:block;
  content: '';
  clear: both;
}
div#download a.button {
  display: block;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  width: 10%;
  margin: 30px auto;
}
div#download div.warn {
  color: #555;
  font-size: 1rem;
}