div#index {
  margin: 0px;
  padding: 0px;
}
/* 当屏幕最小为669px时（一直大于669px），执行下面 */
@media(min-width:669px) {
  /* 介绍部分 */
  div#index div#introduction div.part {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  /* 清除浮动 */
  div#index div#introduction div.part::after {
      display: block;
      clear: both;
      content: "";
      visibility: hidden;
      height: 0;
  }
  div#index div#introduction div#blogPart {
      background-color: #f5f5f5;
  }
  div#index div#introduction div.part img {
      float: left;
      margin-top: 20px;
      margin-left: 60px; 
      width: 38.2%;
  }
  div#index div#introduction div.part div.text {
      float: left;
      margin-left: 150px;
      width: 30%;
  }
  div#index ul#pagesList{
      padding: 0px;
      margin-left: 120px;
   }   
}
/* 当屏幕最大为669px时（一直小于669px），执行下面 */
@media(max-width:669px) {
  /* 介绍部分 */
  div#index div#introduction div.part {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  div#index div#introduction div#blogPart {
      background-color: #f5f5f5;
  }
  div#index div#introduction div.part img {
      display: block;    
      margin: 20px auto;
      width: 60%; 
  }
  div#index div#introduction div.part div.text {
      margin: 20px auto;
      width: 60%;
  }
  div#index ul#pagesList{
      margin-left: 0%;
  }   
}

