div#myMomentForm {
  margin-top: 50px;
  margin-left: 20%;
}
/* 摄像功能 */
.box {
  position: relative;
  float: left;
  margin: 0 auto;
  width: 160px;
  height: 160px;
}
#video {
  margin: 0 auto;
  background-color: #fff;
  object-fit: fill;
  /* z-index: 9997; */
}
canvas#videoCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  /* z-index: 9998; */
}
#canvas {
  display: none;
}

div#submitButtonBox {
  width: 50%;
  margin: 0 auto;
}

button.cameraButton {
  float: left;
  width: 160px;
  color: #fff;
  background-color: blue;
}
button#update {
  width: 30%;
  margin-left: 15%;
}
a#downloadVideo {
  width: 30%;
}
textarea#moment {
  /* float: right; */
  display: block;
  width: 40%;
  height: 160px;
  border: 2px solid #0084ff;
  border-radius: 5px;
  margin: 10px 0 0 20%;
}

/* 想法 */
ul#momentsList li {
  margin: 110px 0 0 20%;
  list-style: none;
  clear: both;
}
ul#momentsList li::after {
  content: '';
  clear: both;
  display: block;
}
ul#momentsList li img {
  float: left;
  margin-right: 30px;
  clear: both;
}
ul#momentsList li p:nth-child(2) {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
ul#momentsList li span:nth-child(3) {
  color: rgb(133, 144, 166);
  float: right;
  padding-right: 68.5%;
}
/*页码*/
ul#pagesList {
  margin-left: 20%;
  margin-top: 100px;
}
ul#pagesList li{
  float: left;
  list-style-type: none;
}
ul#pagesList::after{
  display:block;
  content: '';
  clear: both;
}
ul#pagesList li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}
ul#pagesList li a:hover {
    background-color: #dee2e6;
}
ul#pagesList li.active a {
    color: #fff;
    background-color: #007bff;
}
