div#subject img#searchIcon {
  float: left;
  margin: 20px 70px;
}
div#subject div.container {
  width: 500px;
  margin: 0 auto;
}
div#subject select{
  width:200px;
}
div#subject h5{
  margin-left:5px;
}
div#subject #search{
  width:90px;
  height:30px;
  margin-left:205px;
  border-radius:3px;
}